@import url("node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

@media (max-width: 991px) {
    .last-image {
        margin-top: 20px; 
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
}

html{
    position: relative;
    min-height: 100%;
}
main{
    margin-bottom: 200px;
}
footer.footer{
    padding: 45px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
body{
    color: $primary;
}
p{
    font-family: $font-family-serif;
    font-size: 16px;
}

.hero-scene{
    position: relative;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url('/image/Jaguar_.png');
        background-size: cover;
        filter: brightness(0.5);
    }

    *{
        
        position:relative;
    }

    .hero-scene-content{
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .hero-scene-content h1 {
        margin-bottom: 4rem;
}
}

.text-presentation {
    background-color: $secondary;
    padding: 3rem;
    width: 100%;
    
}
.menthe{
    background-color: $bg-dark;
    padding-bottom: 4rem;
}
.animaux{
    background-color: $secondary;
    padding: 3rem;
}
img {
    border-radius: 10px;
}
.equal-size {
    width: 100%; 
    max-width: 300px; 
    height: auto; 
}

#avis {
    padding: 50px;
    background-color: $secondary;
   
}
.avis-title {
    text-decoration: underline;
  }
#avis .carousel-item {
    padding: 30px 30px 90px;
}
.visite-guide{
    display: flex;
    flex-direction: column;
}
